<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shadow Hunters</title>
	<meta name="Shadow Hunters" content="width=device-width, initial-scale=1">
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139133342-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-139133342-1');
	</script>

	<style>
		body, html {
			height: 100%;
			margin: 0;
			font-family: Palatino, "Times New Roman", Times;
		}

		.bg {
			/* The image used */
			background-image: url("https://d2naeox1pchp13.cloudfront.net/waitRoom.svg");

			/* Full height */
			height: 100%;

			/* Center and scale the image */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.centered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	</style>
</head>



<body>

	<div class="bg">
		<div class="centered">
			<p style="position: absolute; top: 200px; left: -50px">
					<a href="/rules" class="pull-left"><img src="https://d2naeox1pchp13.cloudfront.net/rules.png" width="100"></a>
				</p>
			<body>
				<center>
					<div style="color: #FFFFFF; background-color: #000000; opacity: .3; position: absolute; top: 325px; left: -195px; font-size: 12px">
						<p class=flashes style="width: 390px; height: 0px">
							<p>Disconnected? Re-enter your name and room ID to rejoin your game!</p>
						</p>
					</div>
				</center>
				<center>
					<div style="width: 350px; border: 5px solid; padding: 10px; box-shadow: 5px 10px #000000; background-color: #DFDFDF;height: 75px; position: fixed; left: -191px">
						<form action="/room" method="POST">
							<center>
								<div><b style="color: #3f2b6d; font-size: 14px">Enter a screen name and a room ID to join a game!</b></div>
								<div><br /></div>
								<input id="screen-name" style="font-family: Palatino, 'Times New Roman', Times;" type="text" name="username" placeholder="Screen Name" autocomplete="off"/>
								<input id="room-id" style="font-family: Palatino, 'Times New Roman', Times;"type="text" name="room_id" placeholder="Room ID" autocomplete="off"/>
								<input id="submit-button" style="font-family: Palatino, 'Times New Roman', Times;"type="submit" value="Join"/>
								<div><br /></div>
							</center>
						</form>
					</div>
				</center>
				<div><br /></div>
				<center>
					<div style="color: #FFFFFF; background-color: #000000; opacity: .3; position: absolute; top: 125px; left: -75px; font-size: 12px">
						{% with messages = get_flashed_messages() %}
						{% if messages %}
						<p class=flashes style="width: 150px; height: 0px">
							{% for message in messages %}
							<p>{{ message }}</p>
							{% endfor %}
						</p>
						{% endif %}
						{% endwith %}
					</div>
				</center>
			</body>
		</div>
	</div>

</body>
</html>
