body {
    font-family: Century Gothic, Arial;
    background-color: #CCCCCC;
    margin: 0px auto;
    text-align: center;
}
.container {
    margin: auto;
    width: 1100px;
    height: 1600px;
    position: relative;
}
.header {
    font-size: 22px;
    background-color: #999999;
    border: 1px dashed #666666;
    color: #444444;
    width: 800px;
    font-size: 14px;
    text-align: center;
    margin: 10px auto 0px auto;
}

#title {
    color: #444444;
    font-size: 48px;
    text-align: center;
    margin: 10px auto 0px auto;
    border-bottom: 10px solid #4b3868;
}

#startButton {
    position: absolute;
    left:500px;
    top:550px;
}

.start {
    background-color: #b786b0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#chatbox {
    width:1066px;
    height: 200px;
    margin: auto;
    background-color: #FFFFFF;
    text-align: left;
    font-size: 14px;
    color: #000000;
}

#message_holder {
    overflow:scroll;
    width: 1066px;
    height: 140px;
    padding: 10px;
}

#chat {
    height: 50px;
}

input[type=text]{
    width: 90%;
}

canvas {
    padding: 20px;
    margin: auto;
}

#footer {
    clear:both;
    margin-top: 10px;
    border-top: 5px solid #4b3868;
    padding: 20px 0px;
    font-size: 80%;
    text-align:center;
}
